/* MOBILE FIRST */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
